
* {
  margin:0;
  padding:0;
  border:0;
}

body {
	background: black;
	color:white;
}

canvas {
	position:fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

#content {
  width:100vw;
  height:100vh;
  position:relative;
  overflow: hidden;
  font-family: monospace;
  font-size: 10px;
}

#text {
  margin: 12px;
}